.card__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.header__form {
    background-color: var(--color__bg-top);
    color: #fff;
    font-weight: 600;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    text-align: center;
}

.bottom__form {
    background-color: var(--color__bg-bot);
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 0 0 20px 20px;
}

.pattern {
    width: 100%;
    mix-blend-mode: color-dodge;
}

.child__text {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.child__text2 {
    font-size: 0.9rem;
    color: #A6A6A6;
}

.input__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

input {
    border: 1px solid #C0C0C0;
    width: 65%;
    border-radius: 4px;
    padding: 1rem 2rem;
    background-color: var(--color__bg-input); 
}

button {
    border: 1px solid;
    width: 30%;
    border-radius: 4px;
    border: none;
    background-color: var(--color__bg-top);
    color: #fff;
    font-weight: 600;
}

.people__respond {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar__name {
    font-weight: 600;
}

.job__name {
    font-weight: 400;
}

.quote__text {
    color: #6a6a6a;
    font-size: 0.9rem;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .card__form {
      width: 460px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .card__form {
      width: 400px;
    }
  } 

  @media screen and (max-width: 376px) {
    .card__form {
      width: 100%;
      height: 100%;
    }

    .header__form {
        border-radius: 0px;
        height: 30%;
    }

    .title {
        width: 100%;
        padding: 3rem;
        font-size: 1.4rem;
    }

    .pattern {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: color-dodge;
    }

    .bottom__form {
        border-radius: 0px;
        padding: 20px 20px;
        height: 70%;
        display: flex;
    }

    .child__text {
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 2rem;
        color: #6a6a6a;
    }
    
    .people__respond {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .quote__text {
        font-size: 0.8rem;
    }
  } 
